{% extends "base.html" %}

{% block content %}
    {% if latest_question_list %}
    <div class="container">
        <div class="row">
            <div class="list-group col-md-auto">
            {% for question in latest_question_list %}
                <a class="list-group-item" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            {% endfor %}
            </div>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
        </div>
    </div>
{% endblock content %}